# Sales Analysis

#### Import necessary library

In [4]:
import pandas as pd
import os

#### Task #1: Merging 12 months sales data into single file

In [5]:
file_path = "Sales_Data"
all_month_data = pd.DataFrame()

for file in os.listdir(file_path):
    data_frame = pd.read_csv(f"{file_path}/{file}")
    all_month_data = pd.concat([all_month_data, data_frame])
    
all_month_data.describe()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
count,186305,186305,186305,186305,186305,186305
unique,178438,20,10,24,142396,140788
top,Order ID,USB-C Charging Cable,1,11.95,Order Date,Purchase Address
freq,355,21903,168552,21903,355,355